__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
runs/
*.weights
yolov8n.pt
*.pt
models/
fret_dataset/
guitar_yolo/
guitar-neck-detection.v1i.coco/
guitar.v1i.yolov8/
Guitar.v7-guitar3.coco/
IDMT-SMT-GUITAR_V2/
training_log.txt
*.log
.vscode/
.idea/
